<div>
    <button type="button" class="btn btn-dark" routerLink="/editacercade/1" *ngIf="isLogged">
        Editar Persona
    </button>
</div>
    <div class="row">
       <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
       <img src={{persona?.img}} class="img-fluid" id="fotodeperfil">
   </div>
   <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
       <p id="nombre">{{persona?.nombre}} {{persona?.apellido}}</p>
       <p>Full Stack Developer Jr</p>
   </div>
   <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 descripcion">
       <span>
           <h1>Acerca de mí</h1>
           <p>{{persona?.descripcion}}</p>
           <p>¡Hola a todos! Mi nombre es Lucas, tengo 32 años, soy Profesor de Educación Física y Guardavidas. Estoy explorando nuevos horizontes en el mundo de la programación. Aunque actualmente no trabajo en el área informática, estoy dedicando mi tiempo a tomar cursos y aprender lo máximo posible.
            Mi objetivo es adquirir nuevos conocimientos y habilidades que me permitan incursionar en la industria de la programación. Gracias por visitar mi portafolio y seguir mi progreso en este emocionante nuevo camino.</p>
       </span>
   </div>
</div> 